

.login{
    width            : 80%;
    max-width        : 580px;
    margin           : auto;
    padding          : 20px;
    background-color : #fff;
    box-shadow       : 0 0 50px 0 rgba(0, 0, 0, 0.22);
    margin-top       : 120px;

  &Label{
    display   : none;
    font-size : 3rem;
    color     : #CCC;
  }

  &Input{
      
      border        : none;
      outline       : none;
      font-size     : 4rem;
      padding       : 12px;
      width         : 100%;
      box-sizing    : border-box;
      margin-bottom : 3rem;
      border-bottom : 2px solid #ababab;

      &.text{
        
      }
      &.password{
      
      }

  }

  &Button{
      border           : none;
      background-color : #55a3d0;
      color            : #fff;
      font-size        : 3rem;
      padding          : 10px 25px;
      margin           : auto;
      display          : block;
      cursor           : pointer;
  }


}