.menu{
    
    display          : flex;
    flex-direction   : row;
    list-style       : none;
    flex-wrap        : nowrap;
    padding          : 0;
    justify-content  : left;
    background-color : white;
    margin           : 0;

    li{
      
      padding : 15px;

      a{
        font-size       : 2rem;
        padding         : 10px;
        text-decoration : none;
        color           : $greyBlue;
      }
    }

}