

.list{

    padding       : 0;
    text-align    : left;
    margin-bottom : 20rem;

    &Item{
        display       : block;
        border-bottom : 1px solid color( $white a( 10%));
        padding       : 10px;
        box-sizing    : border-box;
        font-size     : 1.5rem;

        &.selected{
          background-color : $greyWhite;
        }

        &.hide{
            display : none;
        }
    }
}