

$greyBlue     : #86a0b4;
$greyWhite    : #f7f7f7;

$greenDark    : #4a7a36;
$greenLight   : #85be71;
$greenLight2  : #61c05c;


$blueDark     : #184167;
$blueLight    : #46a0da;
$orangeDark   : #b9533f;
$orangeMedium : #e5a261;
$orangeLight  : #edd38e;
$redMedium    : #e61e23;

$greyDark      : #646569;
$greyLight     : #99989a;
$greyVeryLight : #c8c8c8;

$white        : #ffffff;


$fontFHR     : 'HelveticaNeue-roman', sans-serif;
$fontFHB     : 'HelveticaNeue-bold', sans-serif;

$fontS       : 8px;
